@tailwind base;

a {
  @apply text-black font-medium;
}

a:hover {
  @apply border-b-2 border-purple-700 text-purple-700;
  margin-bottom: -2px;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.content {
  white-space: pre;
}